
.contact_div{
    width: 80%;
    margin:auto;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d9def;
}

.contact-container h1 {
    color: white;
    padding: 0 30px;
}

.contact-container button{
    background-color: none;
}

.contact1-container{
    display: flex;
    justify-content: space-between;
}

.contact1-nav{
    display: flex;
    gap: 30px;
}

.contact1-nav a{
    width: 100px;
    height: 100%;
}

.contact1-nav a:hover{
    text-decoration: underline;
}