.detail-container{
   width: 80%;
   margin: auto;
   /* padding-top:20px; */
}

.detail-div{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.detail-div-1{
   /* width: 50%;
   overflow: hidden; */

   display: 'flex';
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 500px;
   border: 1px solid black;

}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    
   border: 1px solid black;
}
.detail-img:hover{
    /* transform:scale(1.1);
    transition:all 2s; */
}

.detail-div-2{
    width: 45%;
    text-align: left;
    padding-right: 30px;
    
   border: 1px solid black;
}
.detail-title{
    padding: 30px 0;
    font-weight: bold;
    width: 100%;
}
.detail-price{
    padding: 10px 0;
    color: red;
    font-weight: bold;
}
.detail-count{
    font-size: 14px;
    padding: 10px 0;
}
.detail-button{
    padding: 30px 0;
}

.productScore{
    text-align: left;
}

.productReq{
    border: solid 1px black;
    text-align: left;
    padding: 40px 40px;
}

.productReq-top{
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px) {
    .detail-div{
        display: flex;
        flex-direction:  column;
    }
    .detail-div-1{
        width:100%;
    }
    .detail-img {
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .detail-div-2{
        width: 80%;
        padding-left: 20px;
    }
}
